:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: teal;
  color: white;
  // position: relative;
  // bottom: 0;
  // right: 0;
  // left: 0;
 flex: 0 0 auto;
}
