:host {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: teal;
    height: 70px;
    display: flex;
   }
p
 {  
    color: white;
    font-size: 32px;
    margin-left: 740px;
    margin-top: 10px;
}
