h1{
    font-weight: bold;
    font-size: 32px;
}
.app-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    background-color:tomato;
    color: #fff;
    text-align: center;
}
.material-icons{
    font-size: 32px;
}
button{
    position: relative;
    top: 15px;
    margin: 0 auto;
    height: 30px;
    width: 80px;
}