nav{
    border: 3px solid rgba(255, 255, 255, 0.666);
    background-color: #343a40;
    height: 434px;
    .active {
       
        a{
            color: gray;
        &:hover{
            color: white;
        }
            
        }
     }
     a{
         color: gray;
         padding: 12px 6px;
         &:hover{
            color: white;
         }
      
     }
}