.container{
    background-color: #343a40;
    height: 630px;
    margin: 5px;
    padding: 0;
    min-width: 1536px;
    text-align: center;
}
p{
    color: red;
    position: relative;
    top: 260px;
    font-size: 64px;
    border: 5px solid black;
    text-shadow: 10px 10px 10px red;
}
