.modal-header{
    background-color: #343a40;
    color: white;
}
.modal-body{
    background-color: #343a40;
    color: white;
}
.form-control{
    background-color: #343a40;
    color: white;
}
.close{
    color: red;
}
.btn:hover{
    background-color: green;
}